/* CSS Document */
/*reset*/
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, dl, dt, dd, ol, ul, li, fieldset, form, label, legend { vertical-align: baseline; font-family: inherit; font-weight: inherit; font-style: inherit; font-size: 100%; outline: 0; padding: 0; margin: 0; border: 0; }
:focus { outline: 0; }
body { background: white; line-height: 1; color: black; }
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { font-weight: normal; text-align: left; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

body{
	
}/* body */

a.link-product{
	cursor: pointer;
	text-decoration: none;
}

#logo{
	/* background: url(../images/memostra.png);*/
	display: block;
	clear: both;
	background-repeat:no-repeat;
}/* logo */

#content-categories{
	display: none;
}/*  */

#content-about{
	display: none;
}/* content-about */

#content-contact-us{
	display: none;
}/* content-contact-us */

#banner{
	/* background: url(../images/banner.png); */
	display: block;
	clear: both;
	width: 100%;
	background-repeat:no-repeat;
}/* banner */

.image-background{
	background: #cccecf;
	display:block;
}/* image-background*/

.main-title{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000000;
}/* main-title */

.menu-text{
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}/* menu-text */

.menu{
	display: block;
    width: 100%;
    height: 40px;
    background: #000000;
	display: inline-block;
}/* menu */

.menu li{
    cursor: pointer;
}

.menu-active{
	background: #696664;
}/* menu-active */

.separator{
	background: url(../images/separator.png);
	background-repeat: repeat-x;
	width: 100%;
}/* separator */

/*----------------------------HOME_BOTH------------------------*/
.product-detail-name-home{
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}/* product-detail-name-home */

.product-detail-home{
	color: #d17d2c;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}/* product-detail-home */

#pager{
	background: #cccdce;
}/* pager */

.disable-butonn-background{
	color: #c0bfbf;
}/* disable-butonn-background */

a.previous_link.no_more {
	background: #c0bfbf;
	cursor: default;
}/* no-more */

a.next_link.no_more {
	background: #c0bfbf;
	cursor: default;
}/* no-more */

a.first_link.no_more {
	background: #c0bfbf;
	cursor: default;
}/* no-more */

a.last_link.no_more {
	background: #c0bfbf;
	cursor: default;
}/* no-more */



.enable-butonn-background{
	color: #696664;
}/* enable-butonn-background */




.pager-text{
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}/* pager-text */

.page_navigation , .alt_page_navigation{
	padding-bottom: 10px;
}

.page_navigation a, .alt_page_navigation a{
	color:#FFF;
	text-decoration:none;
	display: inline-block;
	font-family: Tahoma;
	background-color: #000;
	padding:0.188em 0.313em;
}

a.page_link {
	background: #696664;
}/* page-link */

a.page_link.active_page{
	background: #343433;
}/* active-page */

/*-------------------------------------------------------------*/

/* media queries */
@media only screen and( max-width: 320px ){
	#logo{
		margin: 0.531em 0 0.375em 0;
	}/* logo */
	
	#logo img{
		height: 1.438em;
	}/* logo */

	#banner{
		margin: 0 0 0.438em 0;
	}/* banner */

	#banner img{
		height: 3.438em;
	}/* logo */
	
	.main-title{
		font-size: 1.125em;
		margin: 0 0 0.531em 0;
	}/* main-title */
	
	/*----------------------------HOME------------------------*/
	
	.image-background{
		height: 8.625em;
		margin: 0.208em 0 0.396em 0;
	}/* image-background*/
	
	.product{
		height: 11.03125em;
		width:  16.8125em;
		margin: 0 0 0 0.781em;
	}/* product */
	
	.product-detail-name-home{
		font-size: 1em;
	}/* product-detail-name-home */
	
	.product-detail-home{
		font-size: 1em;
	}/* product-detail-home */
		
	.price{
		float:left;
	}/* price */
	
	.cod{
		float:right;
	}/* cod */
	
	.image-background img{
		margin: 0.438em 0 0.438em 0;
		width: 12.90625em;
		height: 7.59375em;
	}/* img */
	
	.separator{
		height: 0.125em;
		margin: 0.750em 0 0.750em 0;
	}/* separator */
	
	#pager{
		height: 2.750em;
		margin: 1.656em -0.7090em 0.875em 0;
	}/* pager */
	
	/*--------------------------------------------------------*/
	
	.menu ul{
        list-style-type: none;
        text-align: center;
        left: 0;
        padding-top: .8em;
    }/* menu ul */
	
    .menu li{
        display: inline-block;
        color: #FFF;
        font-size: .8125em;
        font-weight: bold;
		margin-right: 1em;
    }/* menu li */
    
    
	
	/*-------------------------Pager---------------------------*/
	.page_navigation a, .alt_page_navigation a{
		margin: 1em 0.2em 1em 0.25em;
		font-size: 1em;
	}
	/*---------------------------------------------------------*/
	
	
	/**********************Show product**************************/
	#content-show_product p.description{
		font-family: verdana;
		font-size: .625em;
	}
	#content-show_product img.image{
		width: 17.4375em;
		height: 10.5em;
		
		margin: 0.5em 0 0.5em 1.125em;
		
	}
	/**********************Show product**************************/
	
} /* media 320px */


@media only screen and( min-width: 321px ) and ( max-width: 480px ){
	
	#logo{
		margin: 0.5625em 0 0.4375em 0.625em;
	}/* logo */
	
	#logo img{
		height: 2.5em;
	}/* logo */


	#banner{
		margin: 0 0 0.6875em 0;
	}/* banner */

	#banner img{
		height: 5.125em;
	}/* logo */

	
	.main-title{
		font-size: 2.1875em;
		margin-bottom: .8em;
	}/* main-title */
	
	/*----------------------------HOME------------------------*/
	
	.image-background{  /*CHECK MARGIN*/
		height: 11.875em;
		padding-top: 0.625em;
		margin-bottom: .5em;
		/*margin: 0.208em 0 0.396em 0;*/
	}/* image-background*/
	
	
	.product{ 
		height: 15em;
		width:  25.375em;
		margin: 0 3.375em 0 1.0625em;
	}/* product */
	
	
	.product-detail-name-home{
		font-size: 1.5em;
	}/* product-detail-name-home */
	
	.product-detail-home{
		font-size: 1.5em;
	}/* product-detail-home */
		
	.price{
		float:left;
	}/* price */
	
	.cod{
		float:right;
	}/* cod */
	
	.image-background img{
		width: 19.6875em;
		height: 11.5em;
	}/* img */
	
	.separator{
		height: 0.0625em;
		margin: 1.3125em 0 1.3125em 0;
	}/* separator */
	
	#pager{
		height: 4.25em;
		margin: 2em -0.7090em 1.25em 0;
	}/* pager */
	
	/*--------------------------------------------------------*/

	.menu{
		height: 3em;
	}
	
	.menu ul{
        list-style-type: none;
        text-align: center;
        left: 0;
        padding-top: 1em;
    }/* menu ul */
	
    .menu li{ /*CHECK MARGIN*/
        display: inline;
        color: #FFF;
        font-size: 1.375em;
        font-weight: bold;
        padding: .2em;
		/*margin-left: 1.750em;*/
    }/* menu li */
	
	/*-------------------------Pager---------------------------*/
	.page_navigation a, .alt_page_navigation a{
		margin: 1em 0.2em 1em 0.2em;
		font-size: 1.5em;
	}
	/*---------------------------------------------------------*/
	
	/**********************Show product**************************/
	#content-show_product p.description{
		font-family: verdana;
		font-size: .875em;
	}
	#content-show_product img.image{
		width: 26.25em;
		height: 15.625m;
		margin: 0.5em 0 0.5em 1.625em;
		
	}
	/**********************Show product**************************/
	
} /* media 480px */

/*! fancyBox v2.1.4 fancyapps.com | fancyapps.com/fancybox/#license */.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp{padding:0;margin:0;border:0;outline:0;vertical-align:top}.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020}.fancybox-skin{position:relative;background:#f9f9f9;color:#444;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.fancybox-opened{z-index:8030}.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0,0,0,0.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,0.5);box-shadow:0 10px 25px rgba(0,0,0,0.5)}.fancybox-outer,.fancybox-inner{position:relative}.fancybox-inner{overflow:hidden}.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch}.fancybox-error{color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:15px;white-space:nowrap}.fancybox-image,.fancybox-iframe{display:block;width:100%;height:100%}.fancybox-image{max-width:100%;max-height:100%}#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span{background-image:url('fancybox_sprite.png')}#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:.8;cursor:pointer;z-index:8060}#fancybox-loading div{width:44px;height:44px;background:url('fancybox_loading.gif') center center no-repeat}.fancybox-close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:8040}.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background:transparent url('blank.gif');-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:8040}.fancybox-prev{left:0}.fancybox-next{right:0}.fancybox-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden}.fancybox-prev span{left:10px;background-position:0 -36px}.fancybox-next span{right:10px;background-position:0 -72px}.fancybox-nav:hover span{visibility:visible}.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible!important}.fancybox-lock{overflow:hidden}.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:url('fancybox_overlay.png')}.fancybox-overlay-fixed{position:fixed;bottom:0;right:0}.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll}.fancybox-title{visibility:hidden;font:normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position:relative;text-shadow:none;z-index:8050}.fancybox-opened .fancybox-title{visibility:visible}.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center}.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:transparent;background:rgba(0,0,0,0.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:bold;line-height:24px;white-space:nowrap}.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff}.fancybox-title-inside-wrap{padding-top:10px}.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0,0,0,.8)}