/* CSS Document */
/*reset*/
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, dl, dt, dd, ol, ul, li, fieldset, form, label, legend { vertical-align: baseline; font-family: inherit; font-weight: inherit; font-style: inherit; font-size: 100%; outline: 0; padding: 0; margin: 0; border: 0; }
:focus { outline: 0; }
body { background: white; line-height: 1; color: black; }
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { font-weight: normal; text-align: left; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

body{
	
}/* body */

#logo{
	/* background: url(../images/memostra.png);*/
	display: block;
	clear: both;
	background-repeat:no-repeat;
}/* logo */

#banner{
	/* background: url(../images/banner.png); */
	display: block;
	clear: both;
	width: 100%;
	background-repeat:no-repeat;
}/* banner */

.image-background{
	background: #cccecf;
	display:block;
}/* image-background*/

.main-title{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000000;
}/* main-title */

.menu-text{
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}/* menu-text */

.menu{
	display: block;
    width: 100%;
    height: 40px;
    background: #000000;
	display: inline-block;
}/* menu */

.menu-active{
	background: #696664;
}/* menu-active */

.separator{
	background: url(../images/separator.png);
	background-repeat: repeat-x;
	width: 100%;
}/* separator */

/*----------------------------HOME_BOTH------------------------*/
.product-detail-name-home{
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}/* product-detail-name-home */

.product-detail-home{
	color: #d17d2c;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}/* product-detail-home */

.pager{
	background: #eceef1;
}/* pager */

.disable-butonn-background{
	color: #c0bfbf;
}/* disable-butonn-background */

.enable-butonn-background{
	color: #696664;
}/* enable-butonn-background */

.active-page{
	color: #343433;
}/* active-page */

.pager-text{
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}/* pager-text */

/*-------------------------------------------------------------*/

/* media queries */
@media only screen and( max-width: 320px ){
	#logo{
		margin: 0.531em 0 0.375em 0;
	}/* logo */
	
	#logo img{
		height: 1.438em;
	}/* logo */

	#banner{
		margin: 0 0 0.438em 0;
	}/* banner */

	#banner img{
		height: 3.438em;
	}/* logo */
	
	.main-title{
		font-size: 1.125em;
		margin: 0 0 0.531em 0;
	}/* main-title */
	
	/*----------------------------HOME------------------------*/
	
	.image-background{
		height: 8.625em;
		margin: 0.208em 0 0.396em 0;
	}/* image-background*/
	
	.product{
		height: 11.03125em;
		width:  16.8125em;
		margin: 0 0 0 0.781em;
	}/* product */
	
	.product-detail-name-home{
		font-size: 1em;
	}/* product-detail-name-home */
	
	.product-detail-home{
		font-size: 1em;
	}/* product-detail-home */
		
	.price{
		float:left;
	}/* price */
	
	.cod{
		float:right;
	}/* cod */
	
	.image-background img{
		margin: 0.438em 0 0.438em 0;
		width: 12.90625em;
		height: 7.59375em;
	}/* img */
	
	.separator{
		height: 0.125em;
		margin: 0.750em 0 0.750em 0;
	}/* separator */
	
	#pager{
		background-color:#333;
		height: 2.750em;
		margin: 1.656em 0 0.875em 0;
	}/* pager */
	
	/*--------------------------------------------------------*/
	
	.menu ul{
        list-style-type: none;
        text-align: center;
        left: 0;
        padding-top: .8em;
    }/* menu ul */
	
    .menu li{
        display: inline;
        color: #FFF;
        font-size: .8125em;
        font-weight: bold;
        padding: .2em;
		margin-left: 1.750em;
    }/* menu li */
} /* media 320px */

@media only screen and( min-width: 321px ) and ( max-width: 480px ){
	
	#logo{
		height: 2.5em;
	}/* logo */

	#banner{
		height: 5.125em;
	}/* banner */
	
	.main-title{
		font-size: 2.1875em;
		margin-bottom: .8em;
	}/* main-title */
	
	/*----------------------------HOME------------------------*/
	
	.image-background{
		height: 12.5em;
	}/* image-background*/
	
	.product{
		height: 15em;
		width:  25.375em;
	}/* product */
	
	.image-background img{
		width: 19.6875em;
		height: 11.5em;
	}/* img */
	
	.separator{
		height: 0.0625em;
	}/* separator */
	
	/*--------------------------------------------------------*/
	
	.menu ul{
        list-style-type: none;
        text-align: center;
        left: 0;
        padding-top: .875em;
    }/* menu ul */
	
    .menu li{
        display: inline;
        color: #FFF;
        font-size: 1.375em;
        font-weight: bold;
        padding: .2em;
    }/* menu li */
	
} /* media 480px */